{
    "swagger": "2.0",
    "info": {
        "title": "Banana API",
        "description": "Gestiona proyectos como bananas",
        "version": "1.0.0"
    },
    "host": "api.banangest.com",
    "schemes": [
        "http"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/proyectos": {
            "get": {
                "summary": "Lista de proyectos",
                "tags": [
                    "Proyectos"
                ],
                "responses": {
                    "200": {
                        "description": "lista de proyectos",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Proyecto"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "añadir proyecto",
                "parameters": [
                    {
                        "name": "proyecto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Proyecto"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/proyectos/{pid}": {
            "get": {
                "summary": "Detalle de proyecto",
                "tags": [
                    "Proyecto"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "pid",
                        "required": true,
                        "type": "integer",
                        "minimum": 1,
                        "description": "ID del proyecto."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "detalle de proyecto",
                        "schema": {
                            "$ref": "#/definitions/Proyecto"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Actualizar proyecto",
                "tags": [
                    "Actualiza Proyecto"
                ],
                "parameters": [
                    {
                        "name": "proyecto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Proyecto"
                        },
                        "description": "El json del proyecto"
                    },
                    {
                        "name": "pid",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "minimum": 1,
                        "description": "ID del proyecto."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "proyecto actualizado",
                        "schema": {
                            "$ref": "#/definitions/Mensaje"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Borrar un proyecto",
                "parameters": [
                    {
                        "name": "pid",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "minimum": 1,
                        "description": "ID del proyecto."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "proyecto borrado",
                        "schema": {
                            "$ref": "#/definitions/Mensaje"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Proyecto": {
            "type": "object",
            "properties": {
                "pid": {
                    "type": "integer",
                    "description": "Muestra el id del proyecto."
                },
                "titulo": {
                    "type": "string",
                    "description": "Muestra el titulo del proyecto."
                },
                "responsable": {
                    "$ref": "#/definitions/Usuario"
                },
                "fecha": {
                    "type": "string",
                    "description": "Indica la fecha fin."
                }
            }
        },
        "Usuario": {
            "type": "object",
            "properties": {
                "uid": {
                    "type": "integer"
                },
                "nombre": {
                    "type": "string"
                }
            }
        },
        "Mensaje": {
            "type": "object",
            "properties": {
                "mensaje": {
                    "type": "string"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}