header{background-color: yellow;}
header p{background-color: #c4a85c;}
header div{background-color: #6a66dd;}

header{background-color: red;font-size: 80px;}


header p img{border: 10px solid blue;}

div{color:#665320; font-size: 40px;}