body {
    height: 100%;
    font-family: Segoe UI;
}

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    font-family: Segoe UI;
    padding: 8px;
}

#main {
    position: absolute;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    margin-top: 20px;
}

#flights {
    width: 100%;
}

form {
    width: 300px;
    margin: 20px auto;
}

#dialog {
    display: none;
}

input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    font-size: 20px;
    width: 300px;
    min-height: 30px;
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    input:invalid {
        border-color: #e88;
        -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
        -moz-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
        box-shadow: 0 0 5px rgba(255, 0, 0, .8);
    }

    input:required {
        border-color: #88a;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
        box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    }

    input[type=submit] {
        background: none;
        padding: 10px;
    }

.evencol {
    background-color: #bddbcc;
}

.oddcol {
    background-color: #bdd6db;
}

thead td {
    background-color: #bdacff;
    text-align: center;
}

.details {
    font-size: 9pt;
    margin-top: 8px;
    display: none;
}

.query {
    margin: 4px;
    display: inline;
}