body{overflow-x:hidden;}

a{color: white; text-decoration: none;background-color: red;padding: 10px;border-radius: 5px;}

a:hover{color: yellow; background-color: gray;}



.pred{padding: 20px;margin-bottom: 20px;display: inline-block;}
.pred:after{
	content: url(imgs/flickr.png);
	background-color: yellow;
	padding-left: 10px;
}
.pred:before{
	content: ">";
	background-color: blue;
	padding-right: 10px;
	color:white;
}

.contenedor-lelems{
	width: 100%;
	overflow-x: scroll;
	overflow-y: auto;
	border: 1px solid red;
	height: 100px;
}

div.lelems{width: 2000px;border: 1px solid yellow;}

div.lelems p:first-child{background-color: red;color:white;padding: 20px;}

div.lelems p:nth-child(3){background-color: blue;color:white;padding: 20px;}